.home-container {
  font-family: 'Cinzel', serif;
  text-align: center;
  margin: 0 auto;
  font-size: 120px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  color: rgb(250, 250, 250);
  text-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.home-text-container {
  margin-top: 80px;
  padding: 0;
}

.home-info-container {
  margin: -20px;
}

.ham {
  display: inline;
  width: 800px;
}

.enter-container {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.enter {
  font-size: 50px;
  color: rgb(236, 224, 224);
}

.enter:hover {
  color: rgb(105, 105, 105);
}
