.home-container {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 60px;
  max-width: 50%;
  min-height: 60%;
  color: rgba(61, 38, 8, 0.885);
  font-size: 170%;
  display: flex;
  flex-direction: column;
  text-shadow: 2px, 2px, 5px rgba(61, 38, 8, 0.885);
  color: white;
}

.home-nav-container {
  background-image: url("../../assets/ButtonMedium.png");
  width: 128px;
  margin: 0 auto;
  height: 35px;
}

.enter {
  font-size: 26px;
  color: gold;
  margin: 0;
}
