.about-me {
  width: 100%;
  min-height: 60vh;
  justify-content: center;
  flex-direction: column;
  padding-top: 180px;
}

.about-me-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.about-column {
  width: 50%
}

.about-column-a {
  text-align: center;
}

#aboutme-text {
  color: white;
  font-size: 30px;
}

.profile-pic {
  width: 80%;
  background-position: center;
  border: 1px solid white;
}

.resume {
  padding-top: 150px;
}