.about-me {
  width: 100%;
  min-height: 60vh;
  justify-content: center;
  flex-direction: column;
  padding-top: 180px;
}

.about-me-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}

.about-column {
  width: 50%
}

.about-column-a {
  text-align: center;
}

#aboutme-text {
  color: white;
  font-size: 30px;
}

.profile-pic {
  width: 70%;
  background-position: center;
  border: 1px solid white;
}

.resume-button-container {
  width: 550px;
  height: 80px;
  margin: 0 auto;
}

.resume-button {
  background-image: url("../../assets/exlargebuttonlight.png");
  width: 550px;
  height: 80px;
  font-size: 60px;
  margin: 0 auto;
  padding-top: 6px;
}

.resume-button:hover {
  background-image: url("../../assets/exlargebuttondark.png");
  color: rgb(105, 105, 105);
  font-size: 57px;
  padding-top: 9px;
}
