.navbar {
  font-family: 'Crete Round', serif;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: rgba(73, 24, 125, 0.572);
}

.nav {
  color: white;
  margin: 10px 10px 10px 10px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.nav:hover{
  cursor: pointer;
  color: rgb(220, 152, 16);
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    z-index: 5;
  }
  
  .nav {
    margin-right: 0px;
    font-size: 15px;
  }

  .navend {
    padding-left: 10px;
    padding-right: 10px;
  }

}