.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  height: 12vh;
  background-color: rgba(249, 249, 249, 0.155);
  text-shadow: 5px 3px rgba(0, 0, 0, 0.5);
}

.nav {
  color: white;
  margin: 10px 10px -12px 10px;
  font-size: 50px;
  font-weight: 500;
  text-decoration: none;
}

.nav:hover{
  cursor: pointer;
  color: rgb(105, 105, 105);
}

@media only screen and (max-width: 600px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
    z-index: 5;
  }
  
  .nav {
    margin-right: 0px;
    font-size: 15px;
  }

  .navend {
    padding-left: 10px;
    padding-right: 10px;
  }

}